.aboutus{
    background: rgba(0, 0, 0, 0.8) url(../images/aboutbanner.jpg);
    background-blend-mode: darken;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.about-disc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.aboutus-h1{
    font-family: "cursive", cursive;
    font-size: 50px;
    color: #f2b410;
    line-height: 90px;
}

.aboutus-h4{
    font-size: 28px;
    font-weight: 700;
}

.aboutus-h2{
    font-family: "cursive", cursive;
    font-size: 35px;
    color: #f2b410;
}

.aboutus-h5{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.aboutus-p{
    margin-top: 18px;
    color: #313030;
    font-size: 15px;
}